<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
<header>Travel Planner</header>
<div id="content">
    <form id="search">
        <input type="text" id="destination" placeholder="Enter your destination" autocomplete="off" required>
        <input type="date" id="travelDate" required>
        <input type="submit" id="generate" value="Plan trip">
    </form>
    <div id="currentTrip">
        <div>
            <img id="destPhoto" alt="destination image">
        </div>
        <div id="mainDetails">
            <div id="destinationDetails">My trip to: <span id="destinationResult">London</span>,
                <span id="dateResult">London</span>
            </div>
            <div id="weatherDetails">Expected weather: <span id="temperature">23 &#8451;</span>,
                <span id="weather">Sunny</span>.
            </div>
        </div>
        <div>
            <button id="deleteTrip">Delete</button>
        </div>
    </div>
</div>
<footer>Copyright 2023</footer>
</body>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</html>