html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

header, footer {
    padding: 2%;
    background-color: lightgray;
}

header {
    text-align: left;
}

footer {
    text-align: right;
    font-size: 0.6em;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 2%;
}
input, button {
    margin: 1%;
    font-size: 0.8em;
}

#currentTrip {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#destPhoto {
    border-radius: 25px;
    margin: 1%;
    max-width: 500px;

}

#tripDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    form {
        flex-direction: column;
    }
    #currentTrip {
        flex-direction: column;
        align-items: center;
    }
}